$color1:#00A9D8;
$color3:#292930;
$color6:#4A2C40;
$color7:#E9BD43;
$color8:#7D3780;
$color11:#F7F7F7;
$color12:#FFFFFF;
$color13:#A7BC5B;
$color14:#8DA242;
$color15:#99DDFF;
$color16:#00458B;
$color17:#FF6864;
$color18:#150734;
$color19:#0F2557;
$color20:#28559A;
$color-base:gray;
$color21:#3778C2;
$color22:#4B9FE1;
$color23:#63BCE5;
$color24:#7ED5EA;
$color25:#FA255E;
$base-color:#E1E2E2;