@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Six+Caps&family=Sofia&family=Sriracha&family=Tenali+Ramakrishna&display=swap');
$cursive4: 'Sriracha', cursive;
$cursive5: 'Sofia', cursive;
$cursiveT: 'Jacques Francois Shadow', cursive;
$title:'Merriweather',serif;
$ft-width-sm:400;
$ft-width-sm:900;
