@import '../modules/all';

body{
    display: flex;
    color:$color-base;
    font-family: $cursive4;
    line-height: 1.6;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
@mixin san-sarif($cl:$color-base,$ff:$title,$ft:3rem,$lht:1,$lsp:5.5,$tt:uppercase){
    color:$cl;
    font-family: $ff;
    font-size: $ft;
    line-height: $lht;
    letter-spacing: $lsp;
    text-transform:$tt;
}
h1{
    @include san-sarif();
    span{
        display: block;
        @include san-sarif($cl:$color14,$ff:$cursiveT,$ft:4.5rem);
    }
}
