@import './styles/partials/home.scss';
$container-height:100%;
$container-width:100%;
body{
    background-image: url("./images/tajmahal-canvas-art.jpg");
    background-size: cover;
    background-position: top 25%;
    width:$container-width;
    height:$container-height;
}
ul{
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0em;
    height: 100%;
    align-items: center;
    li{
        list-style-type:none;
        margin: 20px 10px;
    }
    a{
        color: $color16;
        text-decoration: none;
    }
}
      
